<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="/test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    hola
    <!-- Header -->
    <%- include('./partials/header') %>
    
    <!-- Menu de navegación -->
    <%- include('./partials/menu') %>
    
    <!-- Contenido principal -->
    <main class="min-h-screen">
        <%- body %>
    </main>
    
    <!-- Footer -->
    <%- include('./partials/footer') %>
    
    <!-- Scripts -->
    <script src="/js/main.js"></script>
</body>
</html>
